@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
	/* --primary-gradient: bg-linear-to-br from-violet-600 to-indigo-600; */
}

@layer components {
	button {
		@apply px-4 py-2;
	}

	button.btn-primary {
		@apply bg-primary text-white font-bold rounded-full;
	}
}

@layer base {
	.primary-gradient {
		/* todo: convert to primary colour */
		@apply bg-linear-to-br from-violet-600 to-indigo-600;
	}

	html,
	body {
		@apply h-full max-h-[3840px];
	}

	body {
		@apply bg-base-lightest grid grid-cols-[auto_1fr] grid-rows-[1fr_auto];
	}

	aside {
		@apply row-span-3;
	}

	footer {
		@apply col-start-2;
	}
}

@theme {
	--font-sans: 'Barlow', sans-serif;
	--color-primary: oklch(0.5967 0.2227 286.62);
	--color-primary-lighter: oklch(0.6598 0.1941 289.1);
	--color-primary-darker: oklch(0.2574 0.0453 277.29);
	--color-primary-darkest: oklch(0.2913 0.0513 276.54);
	--color-neutral-lighter: oklch(0.9197 0.0315 277.91);
	--color-neutral-darker: oklch(0.6539 0.0511 277.06);
	--color-neutral: oklch(0.642 0.0892 276.2);
	--color-neutral-darkest: oklch(0.1657 0.0172 273.52);
	--color-error: oklch(0.6549 0.1845 23.71);
	--color-error-lighter: oklch(0.7848 0.1252 20.28);
	--color-base-lightest: oklch(0.98 0.004 286.33);
	--color-base-darkest: oklch(0.206 0.03 277.59);
}
